.popup__name_type-error {
    padding: 0 0 8px 0;
    width: 358px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

@media screen and (max-width:767px) {
    .popup__name_type-error  {
        width: 238px;
    }
}