.popup__container {
    min-width: 43vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background: #fff;
    color: #000;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 770px) {
    .popup__container {
        min-width: 282px;
    }

}