.popup__job-profile {
    min-width: 33vh;
    text-decoration: none;
    border-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 770px) {
    .popup__job-profile {
        min-width: 19.51vh;
    }

}