.profile__avatar{
    max-height: 120px;
    max-width: 120px;
    box-sizing: content-box;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 770px) {
    .profile__avatar {
      margin: 0px 0px 26px 0px;
    }

}