.popup__close {
    position: absolute;
    background: none;
    right: -35px;
    top: -40px;
    padding: 0;
    margin: 0;
    opacity: .75;
    text-decoration: none;
    border-style: none;
}

.popup__close:focus,
.popup__close:hover {
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}

@media screen and (max-width: 405px) {
    .popup__close {
        width: 20px;
        top: -32px;
        right: 0px;
    }

}